In [ ]:
import pandas as pd
import os

# Points

In [ ]:
wd = 'C:/Users/gtapa/Desktop/SDSU/Summer 2025/GEOG 583/Final Project/CSV Data/'

os.chdir(wd)
os.getcwd()

'C:\\Users\\gtapa\\Desktop\\SDSU\\Summer 2025\\GEOG 583\\Final Project\\CSV Data'

In [ ]:
bldg_pt = pd.read_csv(wd + 'CRbldg_pt_short.csv', encoding='latin-1')
dist_pt = pd.read_csv(wd + 'CRdist_pt_short.csv', encoding='latin-1')
obj_pt = pd.read_csv(wd + 'CRobj_pt_short.csv', encoding='latin-1')
site_pt = pd.read_csv(wd + 'CRsite_pt_short.csv', encoding='latin-1')
str_pt = pd.read_csv(wd + 'CRstr_pt_short.csv', encoding='latin-1')

areas_of_sig = pd.read_csv(wd + 'areas-of-sig-updated.csv', encoding='latin-1')

In [ ]:
areas_of_sig.head()

   NR_PROPERTYID                All Areas of Significance
0       99000150                             Architecture
1       84000596   Industry; Architecture; Social History
2       97000651                             Architecture
3       74000396                             Architecture
4        1001296           Education; Black; Architecture

In [ ]:
print(bldg_pt.shape)
print(dist_pt.shape)
print(obj_pt.shape)
print(site_pt.shape)
print(str_pt.shape)
print(areas_of_sig.shape)

(63219, 6)
(2770, 6)
(454, 6)
(1505, 6)
(4853, 6)
(100117, 2)

In [ ]:
bldg_pt.dropna(subset=['NR_PROPERTYID'], inplace=True)
dist_pt.dropna(subset=['NR_PROPERTYID'], inplace=True)
obj_pt.dropna(subset=['NR_PROPERTYID'], inplace=True)
site_pt.dropna(subset=['NR_PROPERTYID'], inplace=True)
str_pt.dropna(subset=['NR_PROPERTYID'], inplace=True)

In [ ]:
print(bldg_pt.shape)
print(dist_pt.shape)
print(obj_pt.shape)
print(site_pt.shape)
print(str_pt.shape)

(63176, 6)
(2770, 6)
(453, 6)
(1505, 6)
(4849, 6)

In [ ]:
bldg_pt['NR_PROPERTYID'] = bldg_pt['NR_PROPERTYID'].astype('int64')
dist_pt['NR_PROPERTYID'] = dist_pt['NR_PROPERTYID'].astype('int64')
obj_pt['NR_PROPERTYID'] = obj_pt['NR_PROPERTYID'].astype('int64')
site_pt['NR_PROPERTYID'] = site_pt['NR_PROPERTYID'].astype('int64')
str_pt['NR_PROPERTYID'] = str_pt['NR_PROPERTYID'].astype('int64')

In [ ]:
bldg_pt = bldg_pt.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
dist_pt = dist_pt.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
obj_pt = obj_pt.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
site_pt = site_pt.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
str_pt = str_pt.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')

In [ ]:
print(bldg_pt.shape)
print(dist_pt.shape)
print(obj_pt.shape)
print(site_pt.shape)
print(str_pt.shape)

(62706, 7)
(2764, 7)
(449, 7)
(1504, 7)
(4741, 7)

In [ ]:
bldg_pt.drop(columns=['GlobalID'], inplace=True)
dist_pt.drop(columns=['GlobalID'], inplace=True)
obj_pt.drop(columns=['GlobalID'], inplace=True)
site_pt.drop(columns=['GlobalID'], inplace=True)
str_pt.drop(columns=['GlobalID'], inplace=True)

bldg_pt.head()

,NR_PROPERTYID,RESNAME,SRC_DATE,X,Y,All Areas of Significance
0,82004903,Walker-Broderick House,8/31/1982 0:00,-131.646760,55.344550,Architecture; Social History
1,87000716,First Lutheran Church,5/18/1987 0:00,-131.657772,55.345208,Social History
2,87000645,Ketchikan Ranger House,7/16/1987 0:00,-131.659277,55.346515,Politics/Government; Architecture
3,89001415,Gilmore Building,9/27/1989 0:00,-131.647845,55.342299,Commerce
4,85001161,Ziegler House,5/30/1985 0:00,-131.645337,55.344468,Architecture

In [ ]:
bldg_pt["Type"] = "Historical Buildings"
dist_pt["Type"] = "Historical Districts"
obj_pt["Type"] = "Historical Objects"
site_pt["Type"] = "Historical Sites"
str_pt["Type"] = "Historical Structures"

In [ ]:
bldg_pt.head()

,NR_PROPERTYID,RESNAME,SRC_DATE,X,Y,All Areas of Significance,Type
0,82004903,Walker-Broderick House,8/31/1982 0:00,-131.646760,55.344550,Architecture; Social History,Historical Buildings
1,87000716,First Lutheran Church,5/18/1987 0:00,-131.657772,55.345208,Social History,Historical Buildings
2,87000645,Ketchikan Ranger House,7/16/1987 0:00,-131.659277,55.346515,Politics/Government; Architecture,Historical Buildings
3,89001415,Gilmore Building,9/27/1989 0:00,-131.647845,55.342299,Commerce,Historical Buildings
4,85001161,Ziegler House,5/30/1985 0:00,-131.645337,55.344468,Architecture,Historical Buildings

In [ ]:
print(bldg_pt.shape)
print(dist_pt.shape)
print(obj_pt.shape)
print(site_pt.shape)
print(str_pt.shape)

(62706, 7)
(2764, 7)
(449, 7)
(1504, 7)
(4741, 7)

In [ ]:
NRHP_locations_pt = pd.concat([bldg_pt, dist_pt, obj_pt, site_pt, str_pt], ignore_index=True)
NRHP_locations_pt.shape

(72164, 7)

In [ ]:
NRHP_locations_pt.to_csv('NRHP_locations_updated_062425.csv', index=False)

# Polygons

In [ ]:
bldg_py = pd.read_csv(wd + 'bldg_py.csv', encoding='latin-1')
dist_py = pd.read_csv(wd + 'dist_py.csv', encoding='latin-1')
obj_py = pd.read_csv(wd + 'obj_py.csv', encoding='latin-1')
site_py = pd.read_csv(wd + 'site_py.csv', encoding='latin-1')
str_py = pd.read_csv(wd + 'str_py.csv', encoding='latin-1')

areas_of_sig = pd.read_csv(wd + 'areas-of-sig-updated.csv', encoding='latin-1')

In [ ]:
print(bldg_py.shape)
print(dist_py.shape)
print(obj_py.shape)
print(site_py.shape)
print(str_py.shape)
print(areas_of_sig.shape)

(5515, 5)
(12359, 5)
(11, 5)
(1053, 5)
(433, 5)
(100117, 2)

In [ ]:
bldg_py.dropna(subset=['NR_PROPERTYID'], inplace=True)
dist_py.dropna(subset=['NR_PROPERTYID'], inplace=True)
obj_py.dropna(subset=['NR_PROPERTYID'], inplace=True)
site_py.dropna(subset=['NR_PROPERTYID'], inplace=True)
str_py.dropna(subset=['NR_PROPERTYID'], inplace=True)

In [ ]:
print(bldg_py.shape)
print(dist_py.shape)
print(obj_py.shape)
print(site_py.shape)
print(str_py.shape)

(5515, 5)
(12359, 5)
(11, 5)
(1053, 5)
(432, 5)

In [ ]:
bldg_py['NR_PROPERTYID'] = bldg_py['NR_PROPERTYID'].astype('int64')
dist_py['NR_PROPERTYID'] = dist_py['NR_PROPERTYID'].astype('int64')
obj_py['NR_PROPERTYID'] = obj_py['NR_PROPERTYID'].astype('int64')
site_py['NR_PROPERTYID'] = site_py['NR_PROPERTYID'].astype('int64')
str_py['NR_PROPERTYID'] = str_py['NR_PROPERTYID'].astype('int64')

In [ ]:
bldg_py.head()

,NR_PROPERTYID,RESNAME,SRC_DATE,X,Y
0,802,Eden Valley Orchard,7/14/2000 0:00,-122.847834,42.288473
1,976,"Steen, Helmer and Selma, House",8/10/2000 0:00,-122.474653,47.455831
2,1001080,"Olson, Mary, Farm",10/5/2001 0:00,-122.205304,47.346688
3,1001193,"McClatchy, C.K., Senior High School",11/2/2001 0:00,-121.493455,38.550930
4,1001234,"Carriger, Nicholas, Estate",11/16/2001 0:00,-122.512185,38.296654

In [ ]:
bldg_py = bldg_py.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
dist_py = dist_py.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
obj_py = obj_py.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
site_py = site_py.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')
str_py = str_py.merge(areas_of_sig, on='NR_PROPERTYID', how='inner')

bldg_py.head()

,NR_PROPERTYID,RESNAME,SRC_DATE,X,Y,All Areas of Significance
0,802,Eden Valley Orchard,7/14/2000 0:00,-122.847834,42.288473,Agriculture; Exploration/Settlement
1,976,"Steen, Helmer and Selma, House",8/10/2000 0:00,-122.474653,47.455831,Architecture
2,1001080,"Olson, Mary, Farm",10/5/2001 0:00,-122.205304,47.346688,Agriculture; Architecture
3,1001193,"McClatchy, C.K., Senior High School",11/2/2001 0:00,-121.493455,38.550930,Politics/Government; Architecture
4,1001234,"Carriger, Nicholas, Estate",11/16/2001 0:00,-122.512185,38.296654,Exploration/Settlement; Commerce; Architecture

In [ ]:
print(bldg_py.shape)
print(dist_py.shape)
print(obj_py.shape)
print(site_py.shape)
print(str_py.shape)

(5499, 6)
(12365, 6)
(11, 6)
(1053, 6)
(431, 6)

In [ ]:
bldg_py['Type'] = 'Historical Buildings'
dist_py['Type'] = 'Historical Districts'
obj_py['Type'] = 'Historical Objects'
site_py['Type'] = 'Historical Sites'
str_py['Type'] = 'Historical Structures'

In [ ]:
NRHP_locations_py = pd.concat([bldg_py, dist_py, obj_py, site_py, str_py], ignore_index=True)
NRHP_locations_py.shape

(19359, 7)

In [ ]:
NRHP_locations_py.to_csv('NRHP_locations_py.csv', index=False)

# Combine

In [ ]:
NRHP_locations_all = pd.concat([NRHP_locations_pt, NRHP_locations_py], ignore_index=True)
NRHP_locations_all.shape

(91523, 7)

In [ ]:
NRHP_locations_all.to_csv('NRHP_locations_all.csv', index=False)